@charset "utf-8";
:root {
  --green1: hsl(120 60% 98%);
  --green2: hsl(120 60% 92%);
  --green3: hsl(120 60% 82%);
  --green4: hsl(120 60% 68%);
  --green5: hsl(120 60% 50%);
  --green6: hsl(120 60% 32%);
  --green7: hsl(120 60% 18%);
  --green8: hsl(120 60% 8%);
  --green9: hsl(120 60% 2%);
  --blue1: hsl(225 80% 98%);
  --blue2: hsl(225 80% 92%);
  --blue3: hsl(225 80% 82%);
  --blue4: hsl(225 80% 68%);
  --blue5: hsl(225 80% 50%);
  --blue6: hsl(225 80% 32%);
  --blue7: hsl(225 80% 18%);
  --blue8: hsl(225 80% 8%);
  --blue9: hsl(225 80% 2%);
  --img-ada1: #fff9ef;
  --img-ada2: #ffe8c0;
  --img-ada3: #ffa000;
  --img-ada4: #a56800;
  --img-bella1: #f8f5ff;
  --img-bella2: #c0e1ff;
  --img-bella3: #335dff;
  --img-bella4: #0023ad;
  --img-celia1: #fff5f5;
  --img-celia2: #ffd9dd;
  --img-celia3: #ff5956;
  --img-celia4: #bd0300;
  --img-davina1: #fbf5ff;
  --img-davina2: #f2e5ff;
  --img-davina3: #d165ff;
  --img-davina4: #7c00b2;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

/* GENERAL STYLE STARTS */

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  width: max(768px, 75%);
  max-width: calc(100% - 8px);
  margin: 0 auto;
  overflow-y: scroll;
  background: linear-gradient(var(--green1) 75%, var(--green2)) 0 0 / 100vw 100vh no-repeat fixed;
  color: var(--green8);
  font-family: Handlee, Helvetica, Arial, sans-serif;
  letter-spacing: 0.0625ch;
}
:lang(ja) {
  font-family: "Klee One", "Yu Mincho", sans-serif;
}
p, ul, ol {
  margin-top: 0.17em;
  margin-bottom: 0.5em;
}
img {
  display: block;
  object-fit: scale-down;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
button, input, label, select {
  font-size: inherit;
  cursor: pointer;
}
button {
  border: none;
  padding: 0;
  background: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}
main {
  display: none;
  margin: 0;
}
h1 { /* page header */
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0.125ch;
  white-space: nowrap;
}
h2 { /* subpage header */
  margin-top: 0.5em;
  margin-bottom: 0.33em;
  border-bottom: 1px solid;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0.125ch;
}
i[class^="fa-"] {
  font-size: 75%;
}

/* GENERAL STYLE ENDS */

/* HEADER STYLE STARTS */

header {
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
  color: var(--green7);
  background-color: var(--blue2);
}
.title-tray, .button-tray {
  display: flex;
  gap: 0.5em;
}
.title-tray {
  height: 4em;
  align-items: center;
}
header img {
  width: 48px;
  height: 48px;
}
.button-tray {
  align-items: flex-end;
}
header button {
  margin-bottom: 0.25em;
  padding: 0.125em 0.5em 0;
  border-radius: 0.25em 0.25em 0 0;
  border-bottom: 2px solid var(--blue4);
  transition: background-color 0.4s;
}
header :is(button:hover, button:focus-visible) {
  background-color: var(--blue3);
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

/* HEADER STYLE ENDS */

/* FOOTER STYLE STARTS */

footer {
  margin: 0.33em 0 0;
  border-top: 1px solid;
}
footer p {
  text-align: right;
}
/* FOOTER STYLE ENDS */
/* SCROLLBAR STYLE STARTS */
::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--green6);
}
::-webkit-scrollbar-track {
  background-color: var(--green3);
}

/* SCROLLBAR STYLE ENDS */

/* SUBPAGE: FEATURED STYLE STARTS */

.content-feat-body {
  position: relative;
  aspect-ratio: 1;
  width: 648px;
  height: 648px;
  max-width: calc(100vmin - 8em);
  max-height: calc(100vmin - 8em);
  margin: auto;
}
.slideshow-button {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 1;
  width: 1em;
  height: 1em;
  color: var(--green6);
  transition: background-color 0.4s;
}
.slideshow-button:hover, .slideshow-button:focus-visible {
  background-color: var(--green3);
}
.slideshow-prev {
  margin-left: -1.5em;
}
.slideshow-next {
  margin-right: -1.5em;
}
.content-feat-body img {
  display: none;
  position: absolute;
  inset: 0;
  margin: auto;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5);
}
.content-feat-body span {
  display: none;
  position: absolute;
  inset: 0;
  margin: auto auto 0.5em auto;
  width: fit-content;
  height: fit-content;
  padding: 0.25em 1em;
  border-radius: 1em;
  background-color: var(--blue2);
  text-align: center;
  opacity: 0.9;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.5);
}
.slideshow-pip-tray {
  margin-top: 1em;
  text-align: center;
}
.slideshow-pip {
  margin: 0 0.125em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--green5);
  transition: background-color 0.4s;
}
.slideshow-pip:hover, .slideshow-pip:focus-visible {
  background-color: var(--green3);
}
.slideshow-pip.active {
  background-color: var(--blue7);
}

/* SUBPAGE: FEATURED STYLE ENDS */

/* SUBPAGE: CHARACTERS STYLE STARTS */

.content-chara-body .default {
  --img1: var(--green2);
  --img2: var(--green3);
  --img3: var(--green5);
  --img4: var(--green8);
}
.content-chara-body .ada {
  --img1: var(--img-ada1);
  --img2: var(--img-ada2);
  --img3: var(--img-ada3);
  --img4: var(--img-ada4);
}
.content-chara-body .bella {
  --img1: var(--img-bella1);
  --img2: var(--img-bella2);
  --img3: var(--img-bella3);
  --img4: var(--img-bella4);
}
.content-chara-body .celia {
  --img1: var(--img-celia1);
  --img2: var(--img-celia2);
  --img3: var(--img-celia3);
  --img4: var(--img-celia4);
}
.content-chara-body .davina {
  --img1: var(--img-davina1);
  --img2: var(--img-davina2);
  --img3: var(--img-davina3);
  --img4: var(--img-davina4);
  text-transform: lowercase;
}
.chara-box {
  position: relative;
  height: 576px;
  margin: auto;
  padding-top: 96px;
}
.chara-box:not(.default) {
  display: none;
}
.chara-portrait {
  position: absolute;
  left: 1em;
  top: 0;
  max-height: 100%;
  max-width: 25%;
  object-position: top left;
  filter: drop-shadow(4px 4px 4px var(--img3));
  transition: rotate 0.4s;
}
.chara-portrait:hover, .chara-portrait:focus-visible {
  rotate: 5deg;
}
.chara-details {
  display: flex;
  column-gap: 0.5em;
  height: 100%;
  padding: 0.5em 0.5em 0.5em 224px;
  border: 4px dashed var(--img3);
  border-radius: 1em;
  background-color: var(--img1);
  color: var(--img4);
  overflow: auto;
}
.default-text {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  white-space: nowrap;
}
.chara-details h4 {
  display: inline-block;
  margin-top: 0.33em;
  margin-bottom: 0.17em;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  background-color: var(--img2);
  color: var(--img3);
  font-size: 1.25rem;
  line-height: 1;
}
.chara-details-left {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 0.5em;
  width: 75%;
}
.chara-names {
  width: 40%;
  font-size: 1.25rem;
  font-weight: bold;
}
.chara-names h3 {
  display: inline;
  padding: 0 0.25em;
  background-image: linear-gradient(transparent 40%, var(--img2) 60% 85%, transparent 85%);
  font-size: 2.5rem;
}
.chara-names ruby > rt {
  text-align: center;
}
.chara-bio {
  width: 60%;
}
.chara-bio ul {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.25em 0.5em;
  padding: 0;
  list-style-type: none;
  font-size: smaller;
}
.chara-bio li:first-of-type {
  grid-column: span 2 / auto;
}
.chara-bio li span {
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 1em;
  background-color: var(--img2);
  font-weight: bold;
}
.chara-about {
  width: 100%;
  padding: 0.25em 0.5em;
  border: 4px double var(--img3);
  border-radius: 0.5em;
  font-size: 1.25rem;
}
.chara-likes, .chara-dislikes {
  width: 50%;
}
.chara-details-right {
  width: 25%;
}
.chara-expr-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin-top: 0.5em;
  gap: 0.5em;
}
.chara-expr {
  position: relative;
  max-width: 128px;
  margin: auto;
}
.chara-expr img {
  aspect-ratio: 1;
  width: 100%;
  background-color: var(--img2);
  border-radius: 25%;
  transition: rotate 0.4s;
}
.chara-expr span {
  position: absolute;
  left: -25%;
  right: 0;
  bottom: 80%;
  display: block;
  padding: 0.5em;
  border-radius: 1em;
  background-color: var(--img2);
  filter: drop-shadow(0 2px 4px var(--img4));
  text-align: center;
  font-style: italic;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s, bottom 0.4s;
}
.chara-expr span::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 2em;
  display: block;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top: 0.5em solid var(--img2);
  border-left: 0.5em solid var(--img2);
}
.chara-expr :is(img:hover, img:focus-visible) {
  rotate: 5deg;
}
.chara-expr :is(img:hover, img:focus-visible) + span {
  opacity: 1;
  bottom: 90%;
}
.chara-button-tray {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  gap: 0.25em;
}
.chara-button {
  aspect-ratio: 1;
  max-width: 128px;
  border: 4px solid var(--img3);
  border-radius: 50%;
  overflow: hidden;
  transition: translate 0.4s
}
.chara-button:hover, .chara-button:focus-visible {
  translate: 0 -1em;
}
@media screen and (max-width: 768px) {
  .chara-box {
    padding-top: 0;
  }
  .chara-portrait {
    left: 0;
  }
  .chara-details {
    flex-direction: column;
    height: 100%;
    padding-left: 25%;
  }
  .chara-details-left, .chara-details-right {
    width: 100%;
  }
  .chara-bio ul {
    grid-template-columns: max-content;
  }
  .chara-bio li:first-of-type {
    grid-column: span 1 / auto;
  }
  .chara-expr-container {
    grid-template-columns: repeat(3, auto);
    justify-content: start;
  }
  .chara-expr {
    max-width: 96px;
  }
}

/* SUBPAGE: CHARACTERS STYLE ENDS */

/* SUBPAGE: ARTWORKS STYLE STARTS */

.artwork-filter {
  width: fit-content;
  margin: auto;
  border: 1px dashed;
  border-radius: 1em;
  background-color: var(--green2);
}
.artwork-filter legend {
  padding: 0 0.5em;
  border-radius: 1em;
  background-color: var(--green6);
  color: var(--green1);
}
.content-works-body {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  padding: 0.5em;
  gap: 0.5em;
}
.artwork-button {
  position: relative;
  max-width: 160px;
  aspect-ratio: 1;
  border: 1px solid;
  border-radius: 12.5%;
  overflow: hidden;
  transition: translate 0.4s;
}
.artwork-button img {
  transition: filter 0.4s;
}
.artwork-button-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 0.5em;
  background-color: var(--green6);
  color: var(--green1);
  text-shadow: 0 2px 2px var(--green8);
  opacity: 0;
  transition: opacity 0.4s;
}
.artwork-button:hover, .artwork-button:focus-visible {
  translate: 0 -1em;
}
:is(.artwork-button:hover, .artwork-button:focus-visible) img {
  filter: blur(2px);
}
:is(.artwork-button:hover, .artwork-button:focus-visible) .artwork-button-overlay {
  opacity: 0.8;
}
.artwork-button-overlay span {
  display: block;
  font-weight: bold;
}
.artwork-button-overlay span:not(:first-child) {
  font-size: 0.75rem;
}
.lightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 4em;
  background-color: rgba(0,0,0,0.8);
}
.lightbox {
  position: relative;
  width: 100%;
  height: 100%;
}
.lightbox-button {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 1;
  width: 1em;
  height: 1em;
  color: var(--blue1);
  transition: background-color 0.4s;
}
.lightbox-button:hover, .lightbox-button:focus-visible {
  background-color: var(--green6);
}
.lightbox-prev {
  margin-left: -1.17em;
}
.lightbox-next {
  margin-right: -1.17em;
}
.lightbox-info {
  margin-bottom: -1.17em;
  margin-left: -1.17em;
}
.lightbox-expand {
  margin-bottom: -1.17em;
  margin-right: -1.17em;
}
.lightbox-close {
  margin-top: -1.17em;
  margin-right: -1.17em;
}
.lightbox img {
  display: none;
  position: absolute;
  inset: 0;
  margin: auto;
}
.lightbox-info-expand {
  display: none;
  position: absolute;
  bottom: -0.25em;
  left: -0.25em;
  width: 0;
  height: 0;
  border-radius: 2em 2em 2em 0;
  background-color: var(--blue2);
  opacity: 0.9;
  overflow: hidden;
  transition: width 0.4s, height 0.4s , padding 0s 0.4s, box-shadow 0s 0.4s;
}
.lightbox-info-expand.pinned {
  width: min(32em, 100%);
  height: 12em;
  padding: 1em;
  box-shadow: 2px -2px 4px 2px rgba(0,0,0,0.5);
  transition: width 0.4s, height 0.4s;
}
.artwork-title {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-bottom: 0.17em;
  border-radius: 1em;
  background-color: var(--green6);
  color: var(--green1);
  font-size: 1.25rem;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .content-works-body {
    grid-template-columns: repeat(4, auto);
  }
}

/* SUBPAGE: ARTWORKS STYLE ENDS */