@charset "utf-8";
:root {
  --green1: hsl(120 60% 98%);
  --green2: hsl(120 60% 92%);
  --green3: hsl(120 60% 82%);
  --green4: hsl(120 60% 68%);
  --green5: hsl(120 60% 50%);
  --green6: hsl(120 60% 32%);
  --green7: hsl(120 60% 18%);
  --green8: hsl(120 60% 8%);
  --green9: hsl(120 60% 2%);
  --blue1: hsl(225 80% 98%);
  --blue2: hsl(225 80% 92%);
  --blue3: hsl(225 80% 82%);
  --blue4: hsl(225 80% 68%);
  --blue5: hsl(225 80% 50%);
  --blue6: hsl(225 80% 32%);
  --blue7: hsl(225 80% 18%);
  --blue8: hsl(225 80% 8%);
  --blue9: hsl(225 80% 2%);
  --shadow: 0 0.125rem 0.25rem 0.125rem rgb(0 0 0 / 0.5);
  --img-ada1: #fff9ef;
  --img-ada2: #ffe8c0;
  --img-ada3: #ffa000;
  --img-ada4: #a56800;
  --img-bella1: #f8f5ff;
  --img-bella2: #c0e1ff;
  --img-bella3: #335dff;
  --img-bella4: #0023ad;
  --img-celia1: #fff5f5;
  --img-celia2: #ffd9dd;
  --img-celia3: #ff5956;
  --img-celia4: #bd0300;
  --img-davina1: #fbf5ff;
  --img-davina2: #f2e5ff;
  --img-davina3: #d165ff;
  --img-davina4: #7c00b2;
  font-size: clamp(12px, 1.5vw, 16px);
}

/* GENERAL STYLE STARTS */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: max(768px, 75%);
  margin: 0 auto;
  overflow-y: scroll;
  background: linear-gradient(var(--green1) 75%, var(--green2)) 0 0 / 100vw 100vh no-repeat fixed;
  color: var(--green8);
  font-family: Handlee, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  letter-spacing: 0.0625ch;
}
:lang(ja) {
  font-family: "Klee One", "Yu Mincho", sans-serif;
}
p, ul, ol {
  margin-block: 0.25em;
}
ul, ol {
  padding-left: 1.5rem;
}
img {
  display: block;
  object-fit: scale-down;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
button, input, label, select {
  font-size: inherit;
  cursor: pointer;
}
button {
  border: none;
  padding: 0;
  background: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}
section {
  display: none;
  margin: 0;
}
h1 { /* page header */
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0.125ch;
  white-space: nowrap;
}
h2 { /* subpage header */
  margin: 0.25rem;
  border-bottom: 1px solid;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0.125ch;
}
i[class^="fa-"] {
  font-size: 75%;
}

/* GENERAL STYLE ENDS */

/* HEADER STYLE STARTS */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: var(--green7);
  background-color: var(--blue2);
}
.title-tray, .button-tray {
  display: flex;
  gap: 0.5rem;
}
.title-tray {
  height: 4rem;
  align-items: center;
}
.title-tray img {
  width: 3rem;
  height: 3rem;
}
.button-tray {
  align-items: flex-end;
}
.button-tray button {
  margin-bottom: 0.25rem;
  padding: 0.125em 0.5em 0;
  border-radius: 0.25em 0.25em 0 0;
  border-bottom: 2px solid var(--blue4);
  transition: background-color 0.4s;
}
.button-tray button:is(:hover, :focus-visible) {
  background-color: var(--blue3);
}
@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    align-items: stretch;
    padding: 0 4rem;
  }
}

/* HEADER STYLE ENDS */

/* FOOTER STYLE STARTS */

footer {
  margin: 0.25rem;
  border-top: 1px solid;
}
footer p {
  text-align: right;
}

/* FOOTER STYLE ENDS */

/* SCROLLBAR STYLE STARTS */

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--green6);
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background-color: var(--green3);
}

/* SCROLLBAR STYLE ENDS */

/* SUBPAGE: FEATURED STYLE STARTS */

.content-feat-body {
  position: relative;
  aspect-ratio: 1;
  width: 648px;
  height: 648px;
  max-width: calc(100vmin - 8rem);
  max-height: calc(100vmin - 8rem);
  margin: auto;
}
.slideshow-button {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 1;
  width: 1em;
  height: 1em;
  color: var(--green6);
  transition: background-color 0.4s;
}
.slideshow-button:is(:hover, :focus-visible) {
  background-color: var(--green3);
}
.slideshow-prev {
  margin-left: -1.5em;
}
.slideshow-next {
  margin-right: -1.5em;
}
.content-feat-body img {
  display: none;
  position: absolute;
  inset: 0;
  margin: auto;
  box-shadow: var(--shadow);
}
.content-feat-body span {
  display: none;
  position: absolute;
  inset: 0;
  margin: auto auto 0.5em auto;
  width: fit-content;
  height: fit-content;
  padding: 0.25em 1em;
  border-radius: 1em;
  background-color: var(--blue2);
  text-align: center;
  opacity: 0.9;
  box-shadow: var(--shadow);
}
.slideshow-pip-tray {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}
.slideshow-pip {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--green5);
  transition: background-color 0.4s;
}
.slideshow-pip:is(:hover, :focus-visible) {
  background-color: var(--green3);
}
.slideshow-pip.active {
  background-color: var(--blue7);
}

/* SUBPAGE: FEATURED STYLE ENDS */

/* SUBPAGE: CHARACTERS STYLE STARTS */

.content-chara-body .default {
  --img1: var(--green2);
  --img2: var(--green3);
  --img3: var(--green5);
  --img4: var(--green8);
}
.content-chara-body .ada {
  --img1: var(--img-ada1);
  --img2: var(--img-ada2);
  --img3: var(--img-ada3);
  --img4: var(--img-ada4);
}
.content-chara-body .bella {
  --img1: var(--img-bella1);
  --img2: var(--img-bella2);
  --img3: var(--img-bella3);
  --img4: var(--img-bella4);
}
.content-chara-body .celia {
  --img1: var(--img-celia1);
  --img2: var(--img-celia2);
  --img3: var(--img-celia3);
  --img4: var(--img-celia4);
}
.content-chara-body .davina {
  --img1: var(--img-davina1);
  --img2: var(--img-davina2);
  --img3: var(--img-davina3);
  --img4: var(--img-davina4);
  text-transform: lowercase;
}
.chara-details {
  position: relative;
  isolation: isolate;
  display: grid;
  grid-template-areas:
    "portrait names   "
    "portrait bio     "
    "portrait about   "
    "likes    dislikes"
    "expr     expr    ";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding: 1rem;
  min-height: 36rem;
  color: var(--img4);
}
.chara-details:not(.default) {
  display: none;
}
.chara-details::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border: 4px dashed var(--img3);
  border-radius: 1rem;
  background-color: var(--img1);
}
.default-text {
  position: absolute;
  inset: 6rem 0 0 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  white-space: nowrap;
}
.chara-details h4 {
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.25em 0.5em;
  width: fit-content;
  height: fit-content;
  border-radius: 1em;
  background-color: var(--img2);
  color: var(--img3);
  font-size: 1.25rem;
  line-height: 1;
  white-space: nowrap;
}
.chara-portrait {
  grid-area: portrait;
  max-height: 32rem;
  margin-inline: auto;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem var(--img3));
  transition: rotate 0.4s;
}
.chara-portrait:is(:hover, :focus-visible) {
  rotate: 5deg;
}
.chara-names {
  grid-area: names;
  font-size: 1.25rem;
  font-weight: bold;
}
.chara-names h3 {
  display: inline;
  padding: 0 0.25em;
  background-image: linear-gradient(transparent 40%, var(--img2) 60% 85%, transparent 85%);
  font-size: 2.5rem;
}
.chara-names ruby > rt {
  text-align: center;
}
.chara-bio {
  grid-area: bio;
}
.chara-bio ul {
  display: grid;
  grid-template-columns: max-content;
  gap: 0.25em 0.5em;
  padding: 0;
  list-style-type: none;
}
.chara-bio li:first-of-type {
  grid-column: 1 / -1;
}
.chara-bio li span {
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 1em;
  background-color: var(--img2);
  font-weight: bold;
}
.chara-about {
  grid-area: about;
  padding: 0.5rem 0.75rem;
  border: 4px double var(--img3);
  border-radius: 1rem;
}
.chara-likes {
  grid-area: likes;
}
.chara-dislikes {
  grid-area: dislikes;
}
.chara-expr-container {
  grid-area: expr;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, max-content));
  gap: 0.5rem;
}
.chara-expr-container h4 {
  grid-column: 1 / -1;
}
.chara-expr {
  position: relative;
  max-width: 8rem;
  justify-self: center;
}
.chara-expr img {
  aspect-ratio: 1;
  width: 100%;
  background-color: var(--img2);
  border-radius: 25%;
  transition: rotate 0.4s;
}
.chara-expr span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80%;
  display: block;
  padding: 0.5em;
  border-radius: 1em;
  background-color: var(--img2);
  filter: drop-shadow(0 0.125rem 0.25rem var(--img4));
  text-align: center;
  font-style: italic;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s, bottom 0.4s;
}
.chara-expr span::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 2rem;
  display: block;
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid var(--img2);
  border-left: 0.5rem solid var(--img2);
}
.chara-expr img:is(:hover, :focus-visible) {
  rotate: 5deg;
}
.chara-expr img:is(:hover, :focus-visible) + span {
  opacity: 1;
  bottom: 90%;
}
.chara-button-tray {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.25rem;
}
.chara-button {
  aspect-ratio: 1;
  max-width: 8rem;
  border: 4px solid var(--img3);
  border-radius: 50%;
  overflow: hidden;
  transition: translate 0.4s
}
.chara-button:is(:hover, :focus-visible) {
  translate: 0 -1rem;
}
@media screen and (min-width: 400px) {
  .chara-details {
    grid-template-areas:
      "portrait names bio     "
      "portrait about about   "
      "portrait likes dislikes"
      "portrait expr  expr    ";
    grid-template-columns: 12rem auto auto;
  }
  .chara-expr span {
    left: -25%;
  }
}
@media screen and (min-width: 600px) {
  .chara-details {
    grid-template-areas:
    "portrait .     .     .        .   "
    "portrait names bio   bio      expr"
    "portrait about about about    expr"
    "portrait likes likes dislikes expr";
    grid-template-columns: 12rem 2fr 1fr 3fr 12rem;
    gap: 1rem 0.5rem;
    grid-template-rows: 6rem auto auto 1fr;
  }
  .chara-details::after {
    top: 7rem;
  }
  .chara-bio ul {
    grid-template-columns: repeat(2, max-content);
  }
  .chara-about {
    font-size: 1.25rem;
  }
  .chara-expr-container {
    grid-template-columns: auto;
    align-content: start;
  }
}

/* SUBPAGE: CHARACTERS STYLE ENDS */

/* SUBPAGE: ARTWORKS STYLE STARTS */

.artwork-filter {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 1em;
  width: fit-content;
  margin: auto;
  padding: 0.5em 0.75em;
  border: 1px dashed;
  border-radius: 1em;
  background-color: var(--green2);
}
.artwork-filter legend {
  padding: 0 0.5em;
  border-radius: 1em;
  background-color: var(--green6);
  color: var(--green1);
}
.artwork-filter select {
  width: fit-content;
}
.content-works-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, 9rem);
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}
.artwork-button {
  position: relative;
  aspect-ratio: 1;
  border: 1px solid;
  border-radius: 12.5%;
  overflow: hidden;
  transition: translate 0.4s;
}
.artwork-button img {
  transition: filter 0.4s;
}
.artwork-button-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 0.5rem;
  background-color: var(--green6);
  color: var(--green1);
  text-shadow: 0 0.125rem 0.125rem var(--green8);
  opacity: 0;
  transition: opacity 0.4s;
}
.artwork-button-overlay span {
  display: block;
  font-weight: bold;
}
.artwork-button-overlay span:not(:first-child) {
  font-size: 0.75rem;
}
.artwork-feature-badge {
  position: absolute;
  top: 0;
  right: 0.25rem;
  width: 2rem;
  height: 2rem;
}
.artwork-button:is(:hover, :focus-visible) {
  translate: 0 -1rem;
}
.artwork-button:is(:hover, :focus-visible) .artwork-thumb {
  filter: blur(2px);
}
.artwork-button:is(:hover, :focus-visible) .artwork-button-overlay {
  opacity: 0.7;
}
.lightbox-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 4rem;
  background-color: rgb(0 0 0 / 0.7);
}
.lightbox {
  position: relative;
  width: 100%;
  height: 100%;
}
.lightbox-button {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 1;
  width: 1em;
  height: 1em;
  color: var(--blue1);
  transition: background-color 0.4s;
}
.lightbox-button:is(:hover, :focus-visible) {
  background-color: var(--green6);
}
.lightbox-prev {
  margin-left: -3.5rem;
}
.lightbox-next {
  margin-right: -3.5rem;
}
.lightbox-info {
  margin-bottom: -3.5rem;
  margin-left: -3.5rem;
}
.lightbox-expand {
  margin-bottom: -3.5rem;
  margin-right: -3.5rem;
}
.lightbox-close {
  margin-top: -3.5rem;
  margin-right: -3.5rem;
}
.lightbox-button + span {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  background-color: var(--green2);
  font-size: 1.25rem;
  box-shadow: var(--shadow);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
}
.lightbox-button:is(:hover, :focus-visible) + span {
  opacity: 0.9;
}
.lightbox-prev + span {
  margin-left: -0.5rem;
}
.lightbox-next + span {
  margin-right: -0.5rem;
}
.lightbox-info + span {
  margin-bottom: -3.5rem;
  margin-left: -0.5rem;
}
.lightbox-expand + span {
  margin-bottom: -3.5rem;
  margin-right: -0.5rem;
}
.lightbox-close + span {
  margin-top: -3.5rem;
  margin-right: -0.5rem;
}
.lightbox img {
  display: none;
  position: absolute;
  inset: 0;
  margin: auto;
}
.lightbox-info-expand {
  display: none;
  position: absolute;
  bottom: -0.25rem;
  left: -0.25rem;
  width: 0;
  height: 0;
  border-radius: 2rem 2rem 2rem 0;
  background-color: var(--blue2);
  opacity: 0.9;
  overflow: hidden;
  transition: width 0.4s, height 0.4s , padding 0s 0.4s, box-shadow 0s 0.4s;
}
.lightbox-info-expand.pinned {
  width: min(32rem, 100%);
  height: 12rem;
  padding: 1rem;
  box-shadow: var(--shadow);
  transition: width 0.4s, height 0.4s;
}
.artwork-title {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-bottom: 0.125em;
  border-radius: 1em;
  background-color: var(--green6);
  color: var(--green1);
  font-size: 1.25rem;
  line-height: 1;
}

/* SUBPAGE: ARTWORKS STYLE ENDS */