@charset "utf-8";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
button {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
ul, ol {
  padding-left: 1.5em;
}
input, select {
  font-size: inherit;
}
label, button, select, summary, [type="radio"], [type="checkbox"], [type="submit"] {
  cursor: pointer;
}

/* RESET ENDS */

/* GENERAL STYLE STARTS */

:root {
  --off-white: hsl(210 90% 98%);
  --light-blue: hsl(210 90% 82%);
  --blue: hsl(225 90% 32%);
  --dark-blue: hsl(240 90% 18%);
  --very-light-green: hsl(105 60% 92%);
  --light-green: hsl(105 60% 68%);
  --green: hsl(120 60% 32%);
  --dark-green: hsl(120 80% 18%);
  --gold: hsl(45 100% 68%);
  --bshadow: 0 0.125rem 0.25rem 0.125rem hsl(0 0% 0% / 0.25);
  --tshadow: 0 0.125rem 0.125rem var(--dark-green);
  --img-ada1: #fff9ef;
  --img-ada2: #ffe8c0;
  --img-ada3: #ffa000;
  --img-ada4: #a56800;
  --img-bella1: #f5f8ff;
  --img-bella2: #c0e1ff;
  --img-bella3: #335dff;
  --img-bella4: #0023ad;
  --img-celia1: #fff5f5;
  --img-celia2: #ffd9dd;
  --img-celia3: #ff5956;
  --img-celia4: #bd0300;
  --img-davina1: #fbf5ff;
  --img-davina2: #f2e5ff;
  --img-davina3: #d165ff;
  --img-davina4: #7c00b2;
}
body {
  width: min(calc(100% - 1rem), 50% + 24rem, 72rem);
  margin: 0 auto;
  overflow-y: scroll;
  background-color: var(--off-white);
  color: var(--dark-green);
  font-family: "Comic Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  word-spacing: -0.125ch;
}
:lang(ja) {
  font-family: "Klee One", "Yu Mincho", sans-serif;
}
h1 { /* page header */
  font-size: 2rem;
  white-space: nowrap;
}
h2 { /* subpage header */
  margin: 0.25rem;
  border-bottom: 0.0625rem solid;
  font-size: 1.25rem;
  font-weight: normal;
}
p, ul, ol {
  margin-block: 0.25em;
}
a {
  color: var(--blue);
}
ruby {
  ruby-align: center;
}
ruby > rt {
  text-align: center;
}
hr {
  border: none;
  border-top: 0.0625rem dotted;
}
.bi {
  font-size: 0.75em;
}
.round-button {
  border-radius: 50%;
  line-height: 1;
  background-color: var(--light-green);
  transition: background-color 0.4s, color 0.4s;
}
.round-button:is(:hover, :focus-visible) {
  background-color: var(--dark-green);
  color: var(--very-light-green);
}
.round-button > .bi:only-child {
  display: block;
  font-size: 0.625em;
}

/* GENERAL STYLE ENDS */

/* HEADER STYLE STARTS */

header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(var(--very-light-green), color-mix(in srgb, var(--very-light-green) 70%, transparent));
  backdrop-filter: blur(0.125rem);
}
.title-tray {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 4rem;
}
.title-tray img {
  width: 3rem;
  height: 3rem;
}
.nav-tray {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.nav-tray button {
  margin-bottom: 0.25rem;
  padding: 0.125em 0.5em 0;
  border-radius: 0.25em 0.25em 0 0;
  border-bottom: 0.0625rem solid;
  transition: background-color 0.4s, color 0.4s;
}
.nav-tray button:is(:hover, :focus-visible) {
  background-color: var(--light-blue);
  color: var(--blue);
}
@media (min-width: 48rem) {
  header {
    flex-direction: row;
    align-items: stretch;
    padding: 0 4rem;
  }
}

/* HEADER STYLE ENDS */

/* FOOTER STYLE STARTS */

footer {
  margin: 0.25rem;
  border-top: 0.0625rem solid;
}
footer p {
  text-align: right;
}

/* FOOTER STYLE ENDS */

/* SUBPAGE: FEATURED STYLE STARTS */

.slideshow-container {
  position: relative;
  aspect-ratio: 1;
  width: 40rem;
  height: 40rem;
  max-width: calc(100vmin - 8rem);
  max-height: calc(100vmin - 8rem);
  margin: auto;
}
.slideshow-button {
  position: absolute;
  inset: 0;
  margin: auto;
  font-size: 2rem;
  width: 1em;
  height: 1em;
}
.slideshow-prev {
  margin-left: -1.5em;
}
.slideshow-next {
  margin-right: -1.5em;
}
.slideshow-artwork {
  position: absolute;
  inset: 0;
  margin: auto;
  box-shadow: var(--bshadow);
}
.slideshow-artwork-title {
  position: absolute;
  inset: 0;
  margin: auto auto 0.5em auto;
  width: fit-content;
  height: fit-content;
  padding: 0.25em 1em;
  border-radius: 1em;
  background-color: color-mix(in srgb, var(--light-blue) 90%, transparent);
  color: var(--dark-blue);
  text-align: center;
  box-shadow: var(--bshadow);
}
.slideshow-pip-tray {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}
.slideshow-pip {
  width: 1rem;
  height: 1rem;
}
.slideshow-pip.active {
  background-color: var(--blue);
}

/* SUBPAGE: FEATURED STYLE ENDS */

/* SUBPAGE: CHARACTERS STYLE STARTS */

.chara-details.default {
  --img1: var(--very-light-green);
  --img2: var(--light-green);
  --img3: var(--green);
  --img4: var(--dark-green);
}
.chara-details.ada, .chara-button.ada {
  --img1: var(--img-ada1);
  --img2: var(--img-ada2);
  --img3: var(--img-ada3);
  --img4: var(--img-ada4);
}
.chara-details.bella, .chara-button.bella {
  --img1: var(--img-bella1);
  --img2: var(--img-bella2);
  --img3: var(--img-bella3);
  --img4: var(--img-bella4);
}
.chara-details.celia, .chara-button.celia {
  --img1: var(--img-celia1);
  --img2: var(--img-celia2);
  --img3: var(--img-celia3);
  --img4: var(--img-celia4);
}
.chara-details.davina, .chara-button.davina {
  --img1: var(--img-davina1);
  --img2: var(--img-davina2);
  --img3: var(--img-davina3);
  --img4: var(--img-davina4);
  text-transform: lowercase;
}
.chara-details {
  position: relative;
  isolation: isolate;
  display: grid;
  grid-template-areas:
    "portrait names names   "
    "portrait bio   bio     "
    "portrait about about   "
    "likes    likes dislikes"
    "expr     expr  expr    ";
  grid-template-columns: 3fr 1fr 4fr;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding: 1rem;
  margin: auto;
  max-width: 64rem;
  min-height: 37.5rem;
  color: var(--img4);
}
.chara-details::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border: 0.25rem dashed var(--img3);
  border-radius: 1rem;
  background-color: var(--img1);
}
.default-text {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  white-space: nowrap;
}
.chara-details h4 {
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.25em 0.5em;
  width: fit-content;
  height: fit-content;
  border-radius: 1em;
  background-color: var(--img2);
  color: var(--img3);
  font-size: 1.25rem;
  line-height: 1;
  white-space: nowrap;
}
.chara-portrait {
  grid-area: portrait;
  margin-top: -1rem;
  margin-inline: auto;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem var(--img3));
}
.chara-names {
  grid-area: names;
  font-size: 1.25rem;
  font-weight: bold;
}
.chara-names h3 {
  display: inline;
  padding: 0 0.25em;
  background-image: linear-gradient(transparent 60%, var(--img2) 60% 85%, transparent 85%);
  font-size: 2.5rem;
}
.chara-bio {
  grid-area: bio;
}
.chara-bio ul {
  display: grid;
  grid-template-columns: max-content;
  gap: 0.25em 0.5em;
  padding: 0;
  list-style-type: none;
}
.chara-bio li:first-of-type {
  grid-column: 1 / -1;
}
.chara-bio li span {
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 1em;
  background-color: var(--img2);
  font-weight: bold;
}
.chara-about {
  grid-area: about;
  padding: 0.5rem 0.75rem;
  border: 0.25rem double var(--img3);
  border-radius: 1rem;
}
.chara-likes {
  grid-area: likes;
}
.chara-dislikes {
  grid-area: dislikes;
}
.chara-expr-container {
  grid-area: expr;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, max-content));
  gap: 0.5rem;
}
.chara-expr-container h4 {
  grid-column: 1 / -1;
}
.chara-expr {
  position: relative;
  max-width: 8rem;
  justify-self: center;
}
.chara-expr-thumb {
  aspect-ratio: 1;
  width: 100%;
  background-color: var(--img2);
  border-radius: 25%;
  transition: rotate 0.4s;
}
.chara-expr-quote {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80%;
  display: block;
  padding: 0.5em;
  border-radius: 1em;
  background-color: var(--img2);
  filter: drop-shadow(0 0.125rem 0.125rem var(--img4));
  text-align: center;
  font-style: italic;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s, bottom 0.4s;
}
.chara-expr-quote::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 2rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--img2);
  clip-path: polygon(25% 0%, 100% 0%, 0% 100%);
}
.chara-expr-thumb:is(:hover, :focus-visible) {
  rotate: 5deg;
}
.chara-expr-thumb:is(:hover, :focus-visible) + .chara-expr-quote {
  visibility: visible;
  opacity: 1;
  bottom: 90%;
}
.chara-button-tray {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.25rem;
}
.chara-button {
  aspect-ratio: 1;
  max-width: 8rem;
  border: 0.25rem solid var(--img3);
  border-radius: 50%;
  transition: translate 0.4s
}
.chara-button:is(:hover, :focus-visible) {
  translate: 0 -1rem;
}
.chara-button img {
  border-radius: 50%;
}
@media (min-width: 36rem) {
  .chara-details {
    grid-template-areas:
      "portrait names bio     "
      "portrait about about   "
      "portrait likes dislikes"
      "portrait expr  expr    ";
    grid-template-columns: 12rem auto auto;
  }
  .chara-expr-quote {
    left: -25%;
  }
}
@media (min-width: 48rem) {
  .chara-details {
    grid-template-areas:
    "portrait .     .     .        .   "
    "portrait names bio   bio      expr"
    "portrait about about about    expr"
    "portrait likes likes dislikes expr";
    grid-template-columns: 12rem 2fr 1fr 3fr 12rem;
    grid-template-rows: 6rem auto auto 1fr;
  }
  .chara-details::after {
    top: 6.5rem;
  }
  .default-text {
    top: 6rem;
  }
  .chara-bio ul {
    grid-template-columns: repeat(2, max-content);
  }
  .chara-about {
    font-size: 1.25rem;
  }
  .chara-expr-container {
    grid-template-columns: auto;
    align-content: start;
  }
}

/* SUBPAGE: CHARACTERS STYLE ENDS */

/* SUBPAGE: ARTWORKS STYLE STARTS */

.artwork-filter {
  position: relative;
  display: grid;
  gap: 0.125rem 1rem;
  width: fit-content;
  margin-top: 1rem;
  margin-inline: auto;
  padding: 1rem 0.75rem 0.5rem;
  border: 0.0625rem dashed;
  border-radius: 1rem;
  background-color: var(--very-light-green);
}
.artwork-filter h3 {
  position: absolute;
  top: -0.75rem;
  left: 0.75rem;
  padding: 0.125em 0.5em;
  border-radius: 1em;
  background-color: var(--dark-green);
  color: var(--very-light-green);
  font-size: 1rem;
}
.artwork-filter ul {
  display: flex;
  gap: 0.5em;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.artwork-filter select {
  max-width: 12rem;
  height: 1.25rem;
}
.artwork-button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 9rem);
  justify-content: center;
  gap: 0.25rem;
  margin: 0.5rem;
}
.year-indicator {
  position: relative;
  isolation: isolate;
  aspect-ratio: 1;
}
.year-indicator::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0 auto 0 1.25rem;
  margin: auto;
  width: 3.5rem;
  height: 7rem;
  border-radius: 0 3.5rem 3.5rem 0;
  background-color: var(--light-green);
}
.year-indicator span {
  position: absolute;
  inset: 0 auto 0 1.5rem;
  margin: auto;
  height: fit-content;
  font-size: 3rem;
  font-weight: bold;
}
.artwork-button {
  position: relative;
  aspect-ratio: 1;
  border: 0.0625rem solid;
  border-radius: 0.5rem;
  transition: translate 0.4s;
}
.artwork-thumb {
  width: 100%;
  object-fit: cover;
  border-radius: 0.4375rem;
  transition: filter 0.4s;
}
.artwork-button-overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  gap: 0.25rem;
  padding: 0 0.5rem;
  border-radius: 0.4375rem;
  background-color: color-mix(in srgb, var(--dark-green) 70%, transparent);
  color: var(--very-light-green);
  font-weight: bold;
  text-shadow: var(--tshadow);
  opacity: 0;
  transition: opacity 0.4s;
}
.artwork-title {
  line-height: 1;
}
.artwork-meta {
  font-size: 0.75rem;
}
.artwork-chara-container {
  position: absolute;
  inset: auto 0 0.25rem 0;
  text-shadow:
    0 0.0625rem  var(--very-light-green),
    0 -0.0625rem var(--very-light-green),
    0.0625rem 0  var(--very-light-green),
    -0.0625rem 0 var(--very-light-green);
}
.artwork-chara-ada {
  color: var(--img-ada3);
}
.artwork-chara-bella {
  color: var(--img-bella3);
}
.artwork-chara-celia {
  color: var(--img-celia3);
}
.artwork-chara-davina {
  color: var(--img-davina3);
}
.artwork-feature-info {
  position: absolute;
  inset: 0 0 auto 0;
}
.artwork-feature-text-container {
  position: absolute;
  inset: 0.25rem 2rem auto 0;
  overflow: hidden;
}
.artwork-feature-text {
  position: relative;
  left: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--gold);
  text-transform: uppercase;
  text-shadow: var(--tshadow);
  transition: left 0.4s;
}
.artwork-feature-badge-glow {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--gold);
  border-radius: 50%;
  box-shadow: 0 0 1rem 1rem var(--gold);
  opacity: 0;
  transition: opacity 0.4s;
}
.artwork-feature-badge {
  position: absolute;
  top: 0;
  right: 0.25rem;
  width: 2rem;
  height: 2rem;
  max-height: none;
}
.artwork-button:is(:hover, :focus-visible) {
  translate: 0 -1rem;
}
.artwork-button:is(:hover, :focus-visible) .artwork-thumb {
  filter: blur(0.0625rem);
}
.artwork-button:is(:hover, :focus-visible) .artwork-button-overlay {
  opacity: 1;
}
.artwork-button:is(:hover, :focus-visible) .artwork-feature-text {
  left: 0;
}
.artwork-button:is(:hover, :focus-visible) .artwork-feature-badge-glow {
  opacity: 1;
}
.no-artwork-msg {
  grid-column: 1 / -1;
  margin-block: 1rem;
  font-weight: bold;
  text-align: center;
}
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 4rem;
  background-color: hsl(0 0% 0% / 0.7);
  backdrop-filter: blur(0.125rem);
}
.lightbox {
  position: relative;
  height: 100%;
}
.lightbox-button {
  position: fixed;
  inset: 0;
  margin: auto;
  font-size: 3rem;
  width: 1em;
  height: 1em;
  opacity: 0.3;
  box-shadow: var(--bshadow);
  transition: background-color 0.4s, color 0.4s, opacity 0.4s;
}
.lightbox-button:is(:hover, :focus-visible) {
  opacity: 1;
}
.lightbox-prev {
  margin-left: 0.5rem;
}
.lightbox-next {
  margin-right: 0.5rem;
}
.lightbox-info {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.lightbox-expand {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.lightbox-close {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.lightbox-button + span {
  position: fixed;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  background-color: var(--dark-green);
  font-size: 1.25rem;
  color: var(--very-light-green);
  box-shadow: var(--bshadow);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s;
}
.lightbox-button:is(:hover, :focus-visible) + span {
  visibility: visible;
  opacity: 1;
}
.lightbox-prev + span {
  margin-left: 3.75rem;
}
.lightbox-next + span {
  margin-right: 3.75rem;
}
.lightbox-info + span {
  margin-bottom: 0.5rem;
  margin-left: 3.75rem;
}
.lightbox-expand + span {
  margin-bottom: 0.5rem;
  margin-right: 3.75rem;
}
.lightbox-close + span {
  margin-top: 0.5rem;
  margin-right: 3.75rem;
}
.lightbox-img {
  position: absolute;
  inset: 0;
  margin: auto;
}
.lightbox-info-expand {
  position: absolute;
  bottom: -0.25rem;
  left: -0.25rem;
  width: min(32rem, calc(100% + 0.5rem));
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 2rem 2rem 2rem 0;
  background-color: color-mix(in srgb, var(--very-light-green) 90%, transparent);
  box-shadow: var(--bshadow);
  scale: 0;
  transform-origin: bottom left;
  transition: scale 0.4s;
}
.lightbox-info-expand::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: -0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: color-mix(in srgb, var(--very-light-green) 90%, transparent);
  clip-path: polygon(50% 0%, 50% 50%, 100% 50%, 12.5% 87.5%);
}
.lightbox-info-expand.expanded {
  scale: none;
}
.lightbox-info-artwork-title {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-bottom: 0.125em;
  border-radius: 1em;
  background-color: var(--dark-green);
  color: var(--very-light-green);
  font-size: 1.25rem;
  line-height: 1;
}
@media (min-width: 36rem) {
  .artwork-filter {
    grid-template-columns: repeat(2, auto);
  }
}

/* SUBPAGE: ARTWORKS STYLE ENDS */